---
layout: src/layouts/shopify.njk
title: Welcome to {{ shop.name }}
preheader: Welcome to {{ shop.name }}
---
{% extends "src/layouts/shopify.njk" %}

{% block shopifyhead %}
  {% raw %}
    {% capture title %} Welcome to {{ shop.name }} 👋 {% endcapture %}

    {% capture body %} You've activated your customer account. Next time you shop with us, log in for faster checkout. {% endcapture %}

    {% capture note %} If you have any questions, reply to this email or contact us at <a href="mailto:{{ shop.email }}" class="text-accent hover-underline">{{ shop.email }}</a>. {% endcapture %}

    {% capture button_label %} Visit our store {% endcapture %}
  {% endraw %}
{% endblock %}

{% block template %}

<table class="wrapper w-full all-font-sans">
  <tr>
    <td align="center" class="bg-white">
      <table class="w-640 sm-w-full">
        <tr>
          <td class="bg-white px-40 py-48 sm-px-16 sm-py-24 text-left">

            {% include "src/partials/shopify/header.njk" %}

            {% raw %}
            <p class="text-21 text-gray-900 m-0 leading-28">{{ title | strip }}</p>
            {% if custom_message != blank %}
            <p class="text-21 text-gray-900 m-0 leading-28">{{ custom_message }}</p>
            {% else %}
            <p class="text-21 text-gray-900 m-0 leading-28">{{ body | strip }}</p>
            {% endif %}
            <div class="leading-16 sm-h-16">&nbsp;</div>
            <table class="sm-w-full">
              <tr>
                <td align="center" class="bg-accent text-white rounded shadow" style="mso-padding-alt: 20px 32px;">
                  <a href="{{ customer.account_activation_url }}" class="inline-block sm-block text-white font-bold sm-text-14 text-16 leading-16 sm-py-16 py-20 px-32">{{ button_label | strip }}</a>
                </td>
              </tr>
            </table>
            <div class="leading-16 sm-h-16">&nbsp;</div>
            <p class="text-gray-500 text-16 leading-22 m-0">{{ note | strip }}</p>
            {% endraw %}

            {% include "src/partials/shopify/footer.njk" %}

          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

{% endblock %}
