---
layout: src/layouts/shopify.njk
title: Your gift card is now available!
preheader: Your gift card is now available!
---
{% extends "src/layouts/shopify.njk" %}

{% block shopifyhead %}
  {% raw %}
    {%- capture title %}
      {% if gift_card.customer %}
        Hi {{ gift_card.customer.first_name }} 👋
      {% else %}
        Hi there 👋
      {% endif %}
      <br>
      Your gift card is now available!
    {% endcapture -%}

    {%- capture body %}
      Here is your {{ gift_card.balance | money_without_trailing_zeros }} gift card.
      Treat yourself, or send it to someone else as a gift.
    {% endcapture -%}

    {% capture card_button_label %} View your gift card {% endcapture %}
    {% capture store_button_label %} Visit our store {% endcapture %}
  {% endraw %}
{% endblock %}

{% block template %}

<table class="wrapper w-full all-font-sans">
  <tr>
    <td align="center" class="bg-white">
      <table class="w-640 sm-w-full">
        <tr>
          <td class="bg-white px-40 py-48 sm-px-16 sm-py-24 text-center">

            {% include "src/partials/shopify/header.njk" %}

            {% raw %}
            <p class="text-21 text-gray-900 m-0 leading-28">{{ title }}</p>
            <div class="leading-16 sm-h-16">&nbsp;</div>
            <table class="w-full">
              <tr>
                <td align="left" class="bg-gray-ui-50 p-24 pl-0 sm-p-24">
                  <table class="w-full">
                    <tr>
                      <td align="center" class="sm-w-full sm-table-footer-group sm-border-0 w-200" style="border-right: 1px dashed #8492A6;">
                        <p class="sm-hidden text-16 leading-22 text-gray-500 m-0">Gift Card:</p>
                        <p class="text-50 leading-48 text-gray-900 m-0">{{ gift_card.balance | money_without_trailing_zeros }}</p>
                        <div class="leading-12 sm-h-16">&nbsp;</div>
                        <table class="sm-w-full w-146">
                          <tr>
                            <td align="center" class="bg-accent text-white rounded shadow" style="mso-padding-alt: 4px 0 8px;">
                              <a href="{{ gift_card.url }}" class="block text-white no-underline font-bold sm-text-14 text-12 leading-32">{{ card_button_label }}</a>
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td class="sm-w-full sm-table-header-group pl-24 sm-p-0 w-336">
                        <p class="text-gray-500 text-21 leading-28 sm-text-center m-0 sm-mb-16">{{ body }}</p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <div class="leading-16 sm-h-16">&nbsp;</div>
            <p class="text-left sm-text-center m-0">
              <a href="{{ shop.url }}" class="text-accent hover-underline text-12 leading-16">{{ store_button_label }}</a>
            </p>
            {% endraw %}

            {% include "src/partials/shopify/footer.njk" %}

          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

{% endblock %}

