---
layout: src/layouts/shopify.njk
---
{% extends "src/layouts/shopify.njk" %}

{% block shopifyhead %}
  {% raw %}
    {% capture title %} Hi {{ shop_name }} 💵 {% endcapture %}

    {% capture body %} {{ customer.name | default: "Someone" }} placed a new order <a href="https://{{ shop.permanent_domain }}/admin/orders/{{ id }}" class="text-accent hover-underline">&#8470; {{ order_name }}</a> with your store on {{ date | date: "%b %d at %I:%M %p" }}. {% endcapture %}

    {% capture button_label %} View order &#8470; {{order_name}} {% endcapture %}
  {% endraw %}
{% endblock %}

{% block template %}

<table class="wrapper w-full all-font-sans">
  <tr>
    <td align="center" class="bg-white">
      <table class="w-640 sm-w-full">
        <tr>
          <td align="left" class="bg-white px-40 py-48 sm-px-16 sm-py-24">

            {% include "src/partials/shopify/header.njk" %}

            {% raw %}
            <p class="text-21 text-gray-900 m-0 leading-28">{{ title | strip }}</p>
            <p class="text-21 text-gray-900 m-0 leading-28">{{ body | strip }}</p>

            {% if fulfillment_aborted %}
              <p class="text-16 leading-24 text-red-900 m-0 mt-8">The order was not automatically fulfilled because it was flagged as suspicious.</p>
            {% endif %}

            {% if has_high_risks? %}
            <div class="leading-32 sm-h-32">&nbsp;</div>
              <table class="w-full">
                <tr>
                  <td class="p-16 bg-red-50">
                    <p class="text-16 leading-22 text-red-900 font-bold m-0 mb-16">Security check</p>
                    <p class="text-16 leading-22 text-red-700">
                      This order has a risk of being fraudulent. <a href="https://{{ shop.permanent_domain }}/admin/orders/{{ id }}" class="hover-underline hover-text-brand-700">Review the order</a> and contact the customer to verify their information.
                    </p>
                  </td>
                </tr>
              </table>
            {% endif %}

            <div class="leading-32 sm-h-32">&nbsp;</div>

            <p class="text-16 text-gray-500 mt-0 mb-16 leading-22">Order summary:</p>

            {% for line in subtotal_line_items %}

            {% if line.product.title %}
              {% assign line_title = line.product.title %}
            {% else %}
              {% assign line_title = line.title %}
            {% endif %}

            <table class="w-full">
              <tr>
                <td class="align-top w-72">
                  {% if line.image %}
                  <img src="{{ line | img_url: '96x144' }}" alt="{{ line_title }}" width="48">
                  {% else %}
                  <img src="https://via.placeholder.com/48x72/f8f8fa/?text=+" alt="{{ line_title }}" width="48">
                  {% endif %}
                </td>
                <td class="align-top text-left w-400 sm-w-auto">
                  <p class="text-gray-900 text-16 font-bold mt-0 mb-8">{{ line_title }}</p>
                  {% if line.product.description %}
                  <p class="text-gray-900 text-16 leading-22 mt-0 mb-8">{{ line.product.description }}</p>
                  {% endif %}
                  <p class="text-16 text-gray-500 leading-12 m-0 mb-8">Qty. {{ line.quantity }}</p>
                  {% if line.sku != "" %}
                    <p class="text-16 text-gray-500 leading-12 m-0">SKU: {{line.sku}}</p>
                  {% endif %}
                </td>
                <td class="align-top text-right w-88">
                  <p class="text-16 leading-22 font-bold text-gray-900 m-0 mb-8">{{ line.price | money }}</p>
                  <span class="text-16 leading-22 text-gray-500">each</span>
                </td>
              </tr>
            </table>
            {% if forloop.last == false %}
            <div class="leading-24">&nbsp;</div>
            {% endif %}
            {% endfor %}
            <table class="w-full">
              <tr>
                <td class="pt-12 pb-24">
                  <div class="bg-gray-ui-200 h-2 leading-2">&nbsp;</div>
                </td>
              </tr>
            </table>

            <table class="w-full">
              <tr>
                <td align="right">
                  <table class="sm-w-full">
                    <tr>
                      <td align="center" class="bg-accent text-white rounded shadow" style="mso-padding-alt: 16px 32px;">
                        <a href="https://{{ shop.permanent_domain }}/admin/orders/{{ id }}" class="inline-block sm-block text-white font-bold text-14 leading-16 sm-py-16 py-16 px-32">{{ button_label | strip }}</a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>

            <div class="leading-64 sm-h-64">&nbsp;</div>

            <table class="w-full">
              <tr>
                <td>
                  <table class="w-full">
                    <tr>
                      <td class="w-1-2 sm-inline-block sm-w-full pr-8 pb-32 sm-px-0 align-top">
                        <h4 class="text-gray-500 text-16 leading-22 m-0 mb-8">Shipping address</h4>
                        <p class="text-gray-500 text-16 leading-22 m-0">
                          {{ shipping_address.name }}
                          <br>
                          {{ shipping_address.street }}
                          <br>
                          {{ shipping_address.city }}, {{ shipping_address.province }} {{ shipping_address.zip }}
                          <br>
                          {{ shipping_address.country }}
                          <br>
                          {{ shipping_address.phone }}
                        </p>
                      </td>
                      <td class="w-1-2 sm-inline-block sm-w-full pl-8 pb-32 sm-px-0 align-top">
                        <h4 class="text-gray-500 text-16 leading-22 m-0 mb-8">Shipping method:</h4>
                        {% for shipping_method in shipping_methods %}
                        <p class="text-gray-500 text-16 leading-22 m-0">{{ shipping_method.title }}</p>
                        {% endfor %}
                      </td>
                    </tr>
                    <tr>
                      <td class="w-1-2 sm-inline-block sm-w-full pr-8 pb-32 sm-px-0 align-top">
                        <h4 class="text-gray-500 text-16 leading-22 m-0 mb-8">Payment processing method:</h4>
                        <div class="text-gray-500 text-16 leading-22">{{ gateway }}</div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            {% endraw %}

            {% include "src/partials/shopify/footer.njk" %}

          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

{% endblock %}

