---
title: You are invited to join our community
preheader: You are invited to join our community
---
{% extends "src/layouts/default.njk" %}
{% block template %}

<table class="wrapper w-full all-font-sans">
  <tr>
    <td align="center" class="bg-white">
      <table class="w-640 sm-w-full">
        <tr>
          <td class="bg-white px-40 py-48 sm-px-16 sm-py-24 text-center">
            <div class="mb-24">
              <a href="http://craftingemails.com" class="no-underline">
                <img src="logo.png" alt="craftingemails" width="143">
              </a>
            </div>
            <p class="text-21 text-gray-900 m-0 leading-28">Hi Candy 🎉</p>
            <p class="text-21 text-gray-900 m-0 leading-28">Buttercream just joined our emailing community.
              <span class="sm-inline inline-block">
                And she thought you'd want a piece of the action too.
              </span>
            </p>
            <div class="leading-16 sm-h-16">&nbsp;</div>
            <table align="center" class="mx-auto">
              <tr>
                <td class="bg-gray-ui-50 w-272">
                  <table class="w-full">
                    <tr>
                      <td>
                        <img src="girl.jpg" alt="Girl with milkshake" width="272" class="rounded-t">
                      </td>
                    </tr>
                    <tr>
                      <td align="center" class="bg-gray-ui-50 p-24 rounded-b">
                        <p class="text-gray-900 text-16 leading-22 font-bold m-0">Buttercream</p>
                        <p class="text-gray-500 text-16 leading-22 m-0 mb-16">Sales Consultant</p>
                        <table class="w-full">
                          <tr>
                            <td align="center" class="bg-brand-500 hover-bg-brand-600 text-white rounded shadow" style="mso-padding-alt: 4px 0 8px;">
                              <a href="http://craftingemails.com" class="block text-white no-underline font-bold sm-text-14 text-12 leading-32">Accept invitation</a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <div class="leading-16 sm-h-16">&nbsp;</div>
            <p class="text-gray-500 text-16 leading-22 m-0">If being part of the world's fastest-growing running brand <span class="sm-inline inline-block">sounds like your thing, accept the invitation.</span></p>

            {% include "src/partials/footer.njk" %}

          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

{% endblock %}

