---
title: Say hello to version 2.1 Smart Distribute
preheader: Say hello to version 2.1 Smart Distribute
---
{% extends "src/layouts/default.njk" %}
{% block template %}

<table class="wrapper w-full all-font-sans">
  <tr>
    <td align="center" class="bg-white">
      <table class="sm-w-full w-640">
        <tr>
          <td class="sm-px-16 sm-py-24 bg-white px-40 py-48 text-center">
            <div class="mb-24">
              <a href="http://craftingemails.com" class="no-underline">
                <img src="logo.png" alt="craftingemails" width="143">
              </a>
            </div>
            <p class="text-21 text-gray-900 m-0 leading-28">Hi Candy 🚀</p>
            <p class="text-21 text-gray-900 m-0 leading-28">Say hello to version 2.1 Smart Distribute.</p>
            <p class="text-21 text-gray-900 m-0 leading-28">Introducing a whole new range of tools to make working with multiple layers quicker and easier.</p>

            <div class="sm-h-16 leading-16">&nbsp;</div>

            <table align="center" class="sm-w-full mx-auto">
              <tr>
                <td align="center" class="bg-brand-500 hover-bg-brand-600 text-white rounded shadow" style="mso-padding-alt: 20px 32px;">
                  <a href="http://craftingemails.com" class="sm-text-14 sm-py-16 inline-block text-white no-underline font-bold text-16 leading-16 py-20 px-32">Download new release</a>
                </td>
              </tr>
            </table>

            <div class="sm-h-40 leading-40">&nbsp;</div>

            <table class="w-full">
              <tr>
                <td>
                  <div class="bg-gray-ui-200 h-px leading-px">&nbsp;</div>
                </td>
              </tr>
            </table>

            <table class="w-full">
              <tr class="sm-w-full sm-table">
                <td class="sm-text-center sm-table-header-group sm-w-full pr-16 pt-30 sm-p-0 text-right align-top w-120">
                  <div class="sm-mb-16">
                    <p class="sm-mb-8 m-0 mb-16">
                      <a href="http://craftingemails.com" class="hover-text-brand-700 hover-underline text-brand-500 text-16 leading-22">2.1.0-alpha06</a>
                    </p>
                    <span class="text-gray-500 text-12 leading-16">e1019ee</span>
                  </div>
                </td>
                <td class="sm-p-0 sm-text-center sm-table-footer-group sm-w-full text-left pl-16 pt-24 pb-32 w-289" style="border-left: 1px solid #EDEDF2;">
                  <p class="sm-mb-16 text-gray-900 text-21 leading-28 font-bold m-0 mb-12">May 25, 2019</p>
                  <table class="sm-mx-auto">
                    <tr>
                      <td class="pr-6 sm-block sm-text-center">
                        <img src="https://res.cloudinary.com/dxa66e5ic/image/upload/v1562072964/transactional-emails/herse.png" width="24" alt="Avatar" class="rounded-full sm-mb-8">
                      </td>
                      <td class="pr-6 sm-block sm-text-center">
                        <a href="http://craftingemails.com" class="text-brand-500 text-12 leading-16 font-bold hover-text-brand-700 hover-underline sm-block sm-mb-8">Herse Hedman</a>
                      </td>
                      <td class="sm-block sm-text-center">
                        <span class="sm-block text-gray-500 text-12 leading-16">released this 25 days ago</span>
                      </td>
                    </tr>
                  </table>
                </td>
                <td align="right" class="pt-24 sm-pb-8 sm-table-caption sm-w-full align-top w-118">
                  <table class="sm-mx-auto">
                    <tr>
                      <td class="bg-green-50 text-green-600 text-12 leading-16 px-8 py-2 rounded-8">Latest release</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <table class="w-full">
              <tr>
                <td align="left" class="pl-136 sm-p-0 sm-pt-24" style="mso-padding-left-alt: 126px;">
                  <table class="w-full">
                    <tr>
                      <td class="pl-16 sm-pl-0 sm-border-none" style="border-left: 1px solid #EDEDF2;">
                        <table class="sm-mx-auto">
                          <tr>
                            <td class="sm-pr-20 pt-2 pr-16 align-top w-92">
                              <table>
                                <tr>
                                  <td class="bg-brand-50 text-brand-500 text-12 leading-16 px-8 py-2 rounded-8 text-center w-72">New</td>
                                </tr>
                              </table>
                            </td>
                            <td>
                              <p class="text-gray-500 text-16 leading-22 m-0">Add Material Button Toggle Group</p>
                            </td>
                          </tr>
                          <tr>
                            <td class="h-24" colspan="2"></td>
                          </tr>
                          <tr>
                            <td class="sm-pr-20 pt-2 pr-16 align-top w-92">
                              <table>
                                <tr>
                                  <td class="bg-green-50 text-green-600 text-12 leading-16 px-8 py-2 rounded-8 text-center w-72">Legacy</td>
                                </tr>
                              </table>
                            </td>
                            <td>
                              <p class="text-gray-500 text-16 leading-22 m-0">Add MotionSpec support to Extended Button</p>
                            </td>
                          </tr>
                          <tr>
                            <td class="h-24" colspan="2"></td>
                          </tr>
                          <tr>
                            <td class="sm-pr-20 pt-2 pr-16 align-top w-92">
                              <table>
                                <tr>
                                  <td class="bg-orange-50 text-orange-600 text-12 leading-16 px-8 py-2 rounded-8 text-center w-72">Feature</td>
                                </tr>
                              </table>
                            </td>
                            <td>
                              <p class="text-gray-500 text-16 leading-22 m-0">Add Extended FAB component</p>
                            </td>
                          </tr>
                          <tr>
                            <td class="h-24" colspan="2"></td>
                          </tr>
                          <tr>
                            <td class="sm-pr-20 pt-2 pr-16 align-top w-92">
                              <table>
                                <tr>
                                  <td class="bg-red-50 text-red-500 text-12 leading-16 px-8 py-2 rounded-8 text-center w-72">Improved</td>
                                </tr>
                              </table>
                            </td>
                            <td>
                              <p class="text-gray-500 text-16 leading-22 m-0">Add API to set height of a half expanded</p>
                            </td>
                          </tr>
                        </table>
                        <table class="w-full">
                          <tr>
                            <td class="text-center py-24">
                              <a href="http://craftingemails.com" class="hover-text-brand-700 hover-underline text-brand-500 text-16 leading-22">View all</a>
                            </td>
                          </tr>
                        </table>
                        <table class="w-full">
                          <tr>
                            <td>
                              <div class="bg-gray-ui-200 h-px leading-px">&nbsp;</div>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>

            <table class="w-full">
              <tr class="sm-w-full sm-table">
                <td class="sm-p-0 sm-table-header-group sm-w-full pr-16 pt-30 text-right sm-text-center align-top w-120">
                  <div class="sm-mt-24 sm-mb-16">
                    <p class="sm-mb-8 m-0 mb-16">
                      <a href="http://craftingemails.com" class="hover-text-brand-700 hover-underline text-brand-500 text-16 leading-22">2.1.0-alpha05</a>
                    </p>
                    <span class="text-gray-500 text-12 leading-16">e1019ee</span>
                  </div>
                </td>
                <td class="sm-p-0 sm-text-center sm-table-footer-group sm-w-full pl-16 pt-24 pb-32 text-left w-289" style="border-left: 1px solid #EDEDF2;">
                  <p class="sm-mb-16 text-gray-900 text-21 leading-28 font-bold m-0 mb-12">May 22, 2019</p>
                  <table class="sm-mx-auto">
                    <tr>
                      <td class="pr-6 sm-block sm-text-center">
                        <img src="https://res.cloudinary.com/dxa66e5ic/image/upload/v1562072964/transactional-emails/elise.png" width="24" alt="Avatar" class="rounded-full sm-mb-8">
                      </td>
                      <td class="pr-6 sm-block sm-text-center">
                        <a href="http://craftingemails.com" class="hover-text-brand-700 hover-underline sm-block sm-mb-8 text-brand-500 text-12 leading-16 font-bold">Elise Beverley</a>
                      </td>
                      <td class="sm-block sm-text-center">
                        <span class="sm-block text-gray-500 text-12 leading-16">released this 28 days ago</span>
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="w-118"></td>
              </tr>
            </table>
            <table class="w-full">
              <tr>
                <td align="left" class="pl-136 sm-p-0 sm-pt-24" style="mso-padding-left-alt: 126px;">
                  <table class="w-full">
                    <tr>
                      <td class="pl-16 sm-pl-0 sm-border-none" style="border-left: 1px solid #EDEDF2;">
                        <table class="sm-mx-auto">
                          <tr>
                            <td class="sm-pr-20 pt-2 pr-16 align-top w-92">
                              <table>
                                <tr>
                                  <td class="bg-brand-50 text-brand-500 text-12 leading-16 px-8 py-2 rounded-8 text-center w-72">New</td>
                                </tr>
                              </table>
                            </td>
                            <td>
                              <p class="text-gray-500 text-16 leading-22 m-0">Add Material Button Toggle Group</p>
                            </td>
                          </tr>
                          <tr>
                            <td class="h-24" colspan="2"></td>
                          </tr>
                          <tr>
                            <td class="sm-pr-20 pt-2 pr-16 align-top w-92">
                              <table>
                                <tr>
                                  <td class="bg-green-50 text-green-600 text-12 leading-16 px-8 py-2 rounded-8 text-center w-72">Legacy</td>
                                </tr>
                              </table>
                            </td>
                            <td>
                              <p class="text-gray-500 text-16 leading-22 m-0">Add MotionSpec support to Extended Button</p>
                            </td>
                          </tr>
                          <tr>
                            <td class="h-24" colspan="2"></td>
                          </tr>
                          <tr>
                            <td class="sm-pr-20 pt-2 pr-16 align-top w-92">
                              <table>
                                <tr>
                                  <td class="bg-orange-50 text-orange-600 text-12 leading-16 px-8 py-2 rounded-8 text-center w-72">Feature</td>
                                </tr>
                              </table>
                            </td>
                            <td>
                              <p class="text-gray-500 text-16 leading-22 m-0">Add Extended FAB component</p>
                            </td>
                          </tr>
                          <tr>
                            <td class="h-24" colspan="2"></td>
                          </tr>
                          <tr>
                            <td class="sm-pr-20 pt-2 pr-16 align-top w-92">
                              <table>
                                <tr>
                                  <td class="bg-red-50 text-red-500 text-12 leading-16 px-8 py-2 rounded-8 text-center w-72">Improved</td>
                                </tr>
                              </table>
                            </td>
                            <td>
                              <p class="text-gray-500 text-16 leading-22 m-0">Add API to set height of a half expanded</p>
                            </td>
                          </tr>
                        </table>
                        <table class="w-full">
                          <tr>
                            <td class="text-center pt-24">
                              <a href="http://craftingemails.com" class="hover-text-brand-700 hover-underline text-brand-500 text-16 leading-22">View all</a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>

            {% include "src/partials/footer.njk" %}

          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

{% endblock %}

