---
title: Your account trial ends in 2 days
preheader: Your account trial ends in 2 days
---
{% extends "src/layouts/default.njk" %}
{% block template %}

<table class="wrapper w-full all-font-sans">
  <tr>
    <td align="center" class="bg-white">
      <table class="w-640 sm-w-full">
        <tr>
          <td class="bg-white px-40 py-48 sm-px-16 sm-py-24 text-center">
            <div class="mb-24">
              <a href="http://craftingemails.com" class="no-underline">
                <img src="logo.png" alt="craftingemails" width="143">
              </a>
            </div>
            <p class="text-21 text-gray-900 m-0 leading-28">Hi Candy 👋</p>
            <p class="text-21 text-gray-900 m-0 leading-28">Your account trial ends in 2 days</p>
            <div class="leading-16 sm-h-16">&nbsp;</div>
            <table align="center" class="sm-w-full mx-auto">
              <tr>
                <td align="center" class="bg-brand-500 hover-bg-brand-600 text-white rounded shadow" style="mso-padding-alt: 20px 32px;">
                  <a href="http://craftingemails.com" class="inline-block text-white no-underline font-bold sm-text-14 text-16 leading-16 sm-py-16 py-20 px-32">Upgrade your account</a>
                </td>
              </tr>
            </table>
            <div class="leading-16 sm-h-16">&nbsp;</div>
            <p class="text-gray-500 text-16 leading-22 m-0">You can upgrade at any time during or after your trial. When you do, you'll have access to the full features of our services.</p>

            {% include "src/partials/footer.njk" %}

          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

{% endblock %}

